<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link type="text/css" href="fonts/icomoon/style.css" rel="stylesheet" >

    <link type="text/css" href="css/owl.carousel.min.css" rel="stylesheet" >

    <!-- Bootstrap CSS -->
    <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" >

    <!-- Style -->
    <link type="text/css" href="css/style.css" rel="stylesheet" >

    <title>Север-Метрополь</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="images/logo_2.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Вход Север-Метрополь</h3>
              <p class="mb-4">Сеть кафе-кондитерских с вековой историей!</p>
            </div>
            <form action="/login" method="post">
              <div class="form-group first">
                <label for="username">Логин</label>
                <input type="text" class="form-control" id="username" name="username">

              </div>
              <div class="form-group last mb-4">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" name="password">
                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Сохранить вход</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Забыли пароль?</a></span>
              </div>

              <input type="submit" value="Войти" style="background: #5d6ee4; border-color: #5d6ee4" class="btn btn-block btn-primary">
              

            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="scripts/login/jquery-3.3.1.min.js"></script>
    <script src="scripts/login/popper.min.js"></script>
    <script src="scripts/login/bootstrap.min.js"></script>
    <script src="scripts/login/main.js"></script>
  </body>
</html>