<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/css/navBar2Pages/page3.css"/>
    <meta charset="UTF-8">
    <title>Меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" href="css/navBar/bodyAndFonts.css" rel="stylesheet"/>
    <link type="text/css" href="css/navBar/navBarAllPage.css" rel="stylesheet"/>

    <link type="text/css" href="css/navBar2Pages/navbar2.css" rel="stylesheet"/>
    <link type="text/css" href="css/navBar2Pages/page3.css" rel="stylesheet"/>

</head>
<body>

<div class="toolbar_menu shadow">
    <div class="tool_left">
        <a href="/" class="block_two_logo">
            <div class="tool_logo1">
                <img src="images/toolbar/logo1.svg" width="100%" />
            </div>
            <div class="tool_logo2">
                <img src="images/toolbar/logo2.svg" width="100%" />
            </div>
        </a>
        <div class="tool_titel">
            {{#tabs}}
                <a href="{{href}}" class="cl_btn_in_navBar"><div class="btn_in_navBar">{{name}}</div></a>
            {{/tabs}}
        </div>
    </div>
    <div class="tool_right">
        <div class="tool_img">
            {{#use_img}}
                <img src="data:image/jpg;base64,{{user_photo}}" class="small_user_photo" />
            {{/use_img}}
            {{#use_default_img}}
                <div class = "user_img_bg">
                    <div class="char_in_img" id="char_in_img">{{first_char}}</div>
                </div>
            {{/use_default_img}}
        </div>
        <div class="tool_user_info">
            <div class="user_name" id="user_name">{{AuthUser.name}} {{AuthUser.last_name}}</div>
            <div class="org">{{role}}</div>
            <div class="project_id" id="project_id" hidden>0</div>
            <div class="shop_id" id="shop_id" hidden>0</div>
            <div class="name_with_ord" id="name_with_ord" hidden>0</div>
        </div>
        <div class="tool_btn_log_out">
            <a rel="nofollow" data-method="post" href="/logout">
                <img src="images/toolbar/img_btn_sign_out.svg" width="100%" />
            </a>
        </div>
    </div>
</div>
<div class="navBar2_in">
    <div class="left_btns">
        <a href="/navbar2-1" style="text-decoration: none">
            <div class="btn_in_navBar2_cansel">
                <div class="text_in_navbar2_cansel">КОНДИТЕРСКОЕ<br>ПРОИЗВОДСТВО</div>
            </div>
        </a>
        <a href="/navbar2-2" style="text-decoration: none">
            <div class="btn_in_navBar2_cansel">
                <div class="text_in_navbar2_cansel">ИНФОРМАЦИОННЫЙ ЦЕНТР</div>
            </div>
        </a>
        <a href="/navbar2-3" style="text-decoration: none">
            <div class="btn_in_navBar2_ok">
                <div class="text_in_navbar2_ok">МОИ ЗАДАЧИ</div>
            </div>
        </a>
        <a href="/navbar2-4" style="text-decoration: none">
            <div class="btn_in_navBar2_cansel">
                <div class="text_in_navbar2_cansel">МОИ ЗАЯВКИ</div>
            </div>
        </a>
    </div>
    <div class="right_btns">

    </div>
</div>

<div class="task_for_me">
    <div class="task_for_me_filters">
        <div class="input-group-search-page3" style="margin-right: 15px">
            <input type="text" class="input_search" placeholder="Поиск">
            <div class="input-group-append"><button class="btn btn-primary" style=" display:flex; text-align: center; align-items: center; cursor: pointer">
                <img src="images/ic_search.svg" width="18px" />
            </button></div>
        </div>
        <div class="titel_in_filters">
            <div>
                <img src="images/filter.png" width="18px" />
            </div>
            <div class="text_titel_in_filters">Фильтр</div>
        </div>

        <div class="line_in_filter"></div>


<!--        Статусы задач:-->
        <div>
            <div>
                <input type="checkbox" id="scales" name="scales" class="check_box" checked>
                <label for="scales" class="text_checkbox">Текущие</label>
            </div>

            <div>
                <input type="checkbox" id="horns" name="horns" class="check_box">
                <label for="horns" class="text_checkbox">Срочные</label>
            </div>
            <div>
                <input type="checkbox" id="scales" name="scales" class="check_box">
                <label for="scales" class="text_checkbox">Просроченные</label>
            </div>

            <div>
                <input type="checkbox" id="horns" name="horns" class="check_box">
                <label for="horns" class="text_checkbox">Связанные</label>
            </div>
        </div>

        <div class="btns_in_filter">
            <a href="#" style="text-decoration: none">
                <div class="btn_filter_type_1">
                    <div class="text_filter_type_1">Применить</div>
                </div>
            </a>
            <a href="#" style="text-decoration: none">
                <div class="btn_filter_type_2">
                    <div class="text_filter_type_2">Очистить</div>
                </div>
            </a>
        </div>
    </div>

    <div class="list_tasks_sort">

        <table class="table_task_for_me" id="id_table_task_for_me">
            <tr class="table_Th">
                <th class="column1">Номер</th>
                <th class="column2">Название</th>
                <th class="column3">Статус</th>
                <th class="column4">Дата добавление</th>
                <th class="column5">Прикреплённый файл</th>
                <th class="column6"></th>
                <th class="column7"></th>
                <th class="column8">Согласие</th>
            </tr>
            <tr class="row_with_info">
                <td class="column1">11</td>
                <td class="column2">Текст заявки</td>
                <td class="column3">Новая</td>
                <td class="column4">01.01.1970</td>
                <td class="column5">документ.pdf</td>
                <td class="column6"> </td>
                <td class="column7">
                    <a href="#" style="text-decoration: none">
                        <div class="btn_see_file_in_task">
                            <div class="text_see_file_in_task">Открыть файл</div>
                        </div>
                    </a>
                </td>
                <td class="column8">
                    <input type="checkbox" id="scales" name="scales" class="check_box" checked>
                </td>
            </tr>
            <tr class="row_with_info">
                <td class="column1">11</td>
                <td class="column2">Текст заявки</td>
                <td class="column3">Новая</td>
                <td class="column4">01.01.1970</td>
                <td class="column5">документ.pdf</td>
                <td class="column6"> </td>
                <td class="column7">
                </td>
                <td class="column8">
                </td>
            </tr>
        </table>

    </div>
</div>




</body>
</html>