<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" href="css/navBar/bodyAndFonts.css" rel="stylesheet"/>
    <link type="text/css" href="css/navBar/navBarAllPage.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>

    <link type="text/css" href="css/navBar2Pages/navbar2.css" rel="stylesheet"/>
    <link type="text/css" href="css/pages/TopPage.css" rel="stylesheet"/>
    <link type="text/css" href="css/pages/TopPageGraf2.css" rel="stylesheet"/>

    <script src="scripts/TopMenu/TopMenu.js"></script>
    <script src="scripts/TopMenu/news/scriptNews.js"></script>

</head>
<body>

<div class="toolbar_menu shadow">
    <div class="tool_left">
        <a href="/" class="block_two_logo">
            <div class="tool_logo1">
                <img src="images/toolbar/logo1.svg" width="100%" />
            </div>
            <div class="tool_logo2">
                <img src="images/toolbar/logo2.svg" width="100%" />
            </div>
        </a>
        <div class="tool_titel">
            {{#tabs}}
                <a href="{{href}}" class="cl_btn_in_navBar"><div class="btn_in_navBar">{{name}}</div></a>
            {{/tabs}}
        </div>
    </div>
    <div class="tool_right">
        <div class="tool_img">
            {{#use_img}}
                <img src="data:image/jpg;base64,{{user_photo}}" class="small_user_photo" />
            {{/use_img}}
            {{#use_default_img}}
                <div class = "user_img_bg">
                    <div class="char_in_img" id="char_in_img">{{first_char}}</div>
                </div>
            {{/use_default_img}}
        </div>
        <div class="tool_user_info">
            <div class="user_name" id="user_name">{{#AuthUser.last_name}}{{AuthUser.last_name}}{{/AuthUser.last_name}} {{#AuthUser.name}}{{AuthUser.name}}{{/AuthUser.name}}</div>
            <div class="org">{{role}}</div>
            <div id="user_id" hidden>{{AuthUser.id}}</div>
        </div>
        <div class="tool_btn_log_out">
            <a rel="nofollow" data-method="post" href="/logout">
                <img src="images/toolbar/img_btn_sign_out.svg" width="100%" />
            </a>
        </div>
    </div>
</div>
<input type="checkbox" id="bool_chek_news" {{#boolNews}}checked{{/boolNews}} hidden>
<div class="navBar2_in">
    <div class="left_btns">
        <a href="/navbar2-1" style="text-decoration: none">
            <div class="btn_in_navBar2_cansel">
                <div class="text_in_navbar2_cansel">КОНДИТЕРСКОЕ<br>ПРОИЗВОДСТВО</div>
            </div>
        </a>
        <a href="/navbar2-2" style="text-decoration: none">
            <div class="btn_in_navBar2_cansel">
                <div class="text_in_navbar2_cansel">ИНФОРМАЦИОННЫЙ ЦЕНТР</div>
            </div>
        </a>
        <a href="/navbar2-3" style="text-decoration: none">
            <div class="btn_in_navBar2_cansel">
                <div class="text_in_navbar2_cansel">МОИ ЗАДАЧИ</div>
            </div>
        </a>
        <a href="/navbar2-4" style="text-decoration: none">
            <div class="btn_in_navBar2_cansel">
                <div class="text_in_navbar2_cansel">МОИ ЗАЯВКИ</div>
            </div>
        </a>
    </div>
    <div class="right_btns">
        <div class="can-toggle demo-rebrand-1" id="checkbox_in_top_menu">
            <input id="d" type="checkbox">
            <label for="d">
                <div class="can-toggle__switch" data-checked="ЛЕНТА" data-unchecked="ДАШБОРТ" onclick="click_checkbox()"></div>
            </label>
        </div>
    </div>
</div>

<!--Дашборт-->
<div class="dash_block1" id="dashboard_1">
    <div class="block_info_dash_bl1 bl1_item1_color shadow">
        <div class="block_bl1_info">
            <div>
                <div class="block_bl1_titel item1">СОТРУДНИКИ</div>
                <div class="block_bl1_titel2">15000</div>
            </div>
            <div style="height: 35px">
                <img src="images/dashboard/dash_1.png" height="100%">
            </div>
        </div>
    </div>
    <div class="block_info_dash_bl1 bl1_item2_color shadow">
        <div class="block_bl1_info">
            <div>
                <div class="block_bl1_titel item2">СОТРУДНИКИ</div>
                <div class="block_bl1_titel2">15000</div>
            </div>
            <div style="height: 35px">
                <img src="images/dashboard/dash_1.png" height="100%">
            </div>
        </div>
    </div>
    <div class="block_info_dash_bl1 bl1_item3_color shadow">
        <div class="block_bl1_info">
            <div>
                <div class="block_bl1_titel item3">СОТРУДНИКИ</div>
                <div class="block_bl1_titel2">15000</div>
            </div>
            <div style="height: 35px">
                <img src="images/dashboard/dash_1.png" height="100%">
            </div>
        </div>
    </div>
    <div class="block_info_dash_bl1 bl1_item4_color shadow">
        <div class="block_bl1_info">
            <div>
                <div class="block_bl1_titel item4">СОТРУДНИКИ</div>
                <div class="block_bl1_titel2">15000</div>
            </div>
            <div style="height: 35px">
                <img src="images/dashboard/dash_1.png" height="100%">
            </div>
        </div>
    </div>
    <div class="block_info_dash_bl1 bl1_item5_color shadow">
        <div class="block_bl1_info">
            <div>
                <div class="block_bl1_titel item5">СОТРУДНИКИ</div>
                <div class="block_bl1_titel2">15000</div>
            </div>
            <div style="height: 35px">
                <img src="images/dashboard/dash_1.png" height="100%">
            </div>
        </div>
    </div>

</div>
<div class="dash_block2" id="dashboard_2">
    <div class="graf_1 shadow">
        <div class="graf_titel">
            <div class="graf_titel_text">График 1</div>
        </div>
        <div class="container-fluid">
            <div class="row">

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

                </main>
            </div>
        </div>

    </div>
    <div class="graf_2 shadow">
        <div class="graf_titel">
            <div class="graf_titel_text">Статистика по задачам</div>
        </div>
        <div class="chart-wrapper"></div>
<!--        <button onclick='replay()'>Replay</button>-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="scripts/TopMenu/graf2.js"></script>

    </div>
    <div class="graf_2 shadow">
        <div class="graf_titel">
            <div class="graf_titel_text">Количество занятого места на диске</div>
        </div>
        <div class="block_num_and_line">
            <div class="block_num_storage">
                <div class="text_num">70%</div>
            </div>
            <div class="block_bg_line">
                <div class="bg_line">
                    <div class="fr_line"></div>
                </div>
            </div>
            <div class="text_info_disk">
                <div class="block_in_disk">
                    <div class="block_in_disk_titel">Всего</div>
                    <div class="block_in_disk_info">932 Gb</div>
                </div>
                <div class="block_in_disk">
                    <div class="block_in_disk_titel">Свободно</div>
                    <div class="block_in_disk_info">280 Gb</div>
                </div>
                <div class="block_in_disk">
                    <div class="block_in_disk_titel">Занято</div>
                    <div class="block_in_disk_info">652 Gb</div>
                </div>
            </div>
        </div>


    </div>

    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

</div>


<div class="list_news" id="id_list_news">
    <div class="list_news_block_titel">
        <div class="news_titel">Лента новостей</div>
        <div>
            {{#visible_btn_add_news}}
                <a href="javascript:PopUpShowAddNews()" style="text-decoration: none">
                    <div class="btn_add_news">
                        <div class="text_btn_add_news">Добавить новость</div>
                    </div>
                </a>
            {{/visible_btn_add_news}}
        </div>
    </div>
    <div class="list_all_news" id="id_list_all_news">
        {{#news}}
            <div class="block_one_new shadow">
                <div class="block_img_in_new">
                    <picture style="text-align:center;object-fit: cover">
                        {{#newsImg.res}}
                            <img class="main_image" src="data:image/jpg;base64,{{newsImg.res}}" width="270px" height="200px" style="object-fit: cover" >
                        {{/newsImg.res}}
                        {{^newsImg.res}}
                            <img class="main_image" src="images/default_img_add_news.jpg" width="270px" height="200px" style="object-fit: cover" >
                        {{/newsImg.res}}
                    </picture>
                </div>
                <div class="block_info_in_new">
                    <div class="titel_in_new">{{#titel}}{{titel}}{{/titel}}</div>
                    <div class="info_one_new">{{#more_info}}{{more_info}}{{/more_info}}</div>
                    {{#href}}<div class="info_one_new">Ссылка на ресурс:<a href="{{href}}" >{{href}}</a></div>{{/href}}
                    <div class="other_info_new">Дата публикации: {{#date_created}}{{date_created}}{{/date_created}} {{#time_created}}{{time_created}}{{/time_created}} Автор: {{user_created.last_name}} {{#user_created.name}}{{user_created.name}}{{/user_created.name}}</div>
                </div>
            </div>
        {{/news}}
    </div>

</div>

<div class="b-popup" id="popUpAddNews">
    <div class="b-popup-content">
        <form method="post" enctype="multipart/form-data" action="/addNews" >
            <div class="titel_block">
                <div class="text_titel_hist">Добавление новости</div>
                <div class="block_cl">
                    <a href="javascript:PopUpHideAddNews()" style="text-decoration: none"><img src="images/ic_cl_btn.svg" width="20px" height="20px" /></a>
                </div>
            </div>
            <div class="inputs_info_in_new">
                <input name="id_user_created" value="{{AuthUser.id}}" hidden>
                <div class="block_img_and_titel" >
                    <div class="block_photo">
                        <a href="javascript:clearPhoto()" style="display: none; margin-top: 3px; margin-right: 3px; width: 15px;height: 15px;position: absolute;top: 0;right: 0" id="btn_clear_photo">
                            <img src="images/close.png" width="15px" height="15px"/>
                        </a>
                        <label for="custom-file-upload" class="append">
                            <img src="images/default_img_add_news.jpg" width="220px" height="124px" id="img_news" style="object-fit: cover"/>
                            <input type="file" name="file_img" id="custom-file-upload"/>
                        </label>
                    </div>
                    <div class="block_inp_add_news">
                        <div class="text_up_input">Заголовок новости</div>
                        <div class="input2">
                            <input class="input_fio" name="titel" placeholder="Введите заголовок">
                        </div>
                        <div class="text_up_input">Ссылка на новость</div>
                        <div class="input2">
                            <input class="input_fio" name="href" placeholder="Введите ссылку">
                        </div>
                    </div>
                </div>
                <div class="text_up_input">Подробная информация</div>
                <div class="input2">
                    <textarea class="input_messqge input_info3" name="more_info" placeholder="Введите подробную информацию"></textarea>
                </div>
                <div class="block_for_btn">
                    <button class="btn_save_news" type="submit">Добавить</button>
                </div>
            </div>


        </form>


    </div>
</div>



<!--    Для дашборта1-->
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/5.2/examples/dashboard/dashboard.js"></script>

</body>

</html>